pipeline/metadata by foreach.json
{
	"name": "metadata by foreach",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata2",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary2",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata2').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "element",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "list of all metadata",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "list",
								"value": {
									"value": "@variables('element')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "separte files and folders",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().type,'File' )",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "append folders",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "append folder",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									},
									{
										"name": "list of folders",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "append folders",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "list of folders",
											"value": {
												"value": "@variables('append folder')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "count of folders",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "list of folders",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "count of files",
											"value": {
												"value": "@length(variables('list of folders'))",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "append_files",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "append_file",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									},
									{
										"name": "list_of files",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "append_files",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "list of files",
											"value": {
												"value": "@variables('append_file')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "count of files",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "list_of files",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "count of files",
											"value": {
												"value": "@length(variables('list of files'))",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "if condition to seprate ends with csv",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@endswith(item().name, '.csv')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "append data ends with csv",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "append ends with csv",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									},
									{
										"name": "list of data ends with csv",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "append data ends with csv",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "list of elements ends with csv",
											"value": {
												"value": "@variables('append ends with csv')",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"element": {
				"type": "Array"
			},
			"list": {
				"type": "Array"
			},
			"append_file": {
				"type": "Array"
			},
			"list of files": {
				"type": "Array"
			},
			"append folder": {
				"type": "Array"
			},
			"list of folders": {
				"type": "Array"
			},
			"count of files": {
				"type": "Integer"
			},
			"count of total folders": {
				"type": "Integer"
			},
			"append ends with csv": {
				"type": "Array"
			},
			"list of elements ends with csv": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "S2-metadata"
		},
		"annotations": []
	}
}