pipeline/metadata_task.json
{
	"name": "metadata_task",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_metadata_source",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().type,'Folder')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Append variable2",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "element1",
											"value": {
												"value": "@item().Name",
												"type": "Expression"
											}
										}
									},
									{
										"name": "file_list",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Append variable2",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "file_list",
											"value": {
												"value": "@variables('element1')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "file_count",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "file_list",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "file_count",
											"value": {
												"value": "@length(variables('file_list'))",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Append variable1",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "element",
											"value": {
												"value": "@item().Name",
												"type": "Expression"
											}
										}
									},
									{
										"name": "folder_list",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Append variable1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "folder_list",
											"value": {
												"value": "@variables('element')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "folder_count",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "folder_list",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "folder_count",
											"value": {
												"value": "@length(variables('folder_list'))",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "list_endswith_csv",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@endswith(item().Name,'csv')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Append variable3",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "element3",
											"value": {
												"value": "@item().Name",
												"type": "Expression"
											}
										}
									},
									{
										"name": "list_items_endswith_csv",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Append variable3",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "list_endswith_csv",
											"value": {
												"value": "@variables('element3')",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"element": {
				"type": "Array"
			},
			"folder_list": {
				"type": "Array"
			},
			"folder_count": {
				"type": "Integer"
			},
			"element1": {
				"type": "Array"
			},
			"file_list": {
				"type": "Array"
			},
			"file_count": {
				"type": "Integer"
			},
			"element3": {
				"type": "Array"
			},
			"list_endswith_csv": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "S2-metadata"
		},
		"annotations": []
	}
}