pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "act_metada",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_metadata_para",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@pipeline().parameters.container_name_from_user",
								"type": "Expression"
							},
							"directory_name": {
								"value": "@pipeline().parameters.direcoey_name_from_user",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.file_name_from_user",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_metada",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_metada').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@and(endswith(item().name, '.csv'),equals(item().type,'File'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Append variable1",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "appe",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									},
									{
										"name": "list of files",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Append variable1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "lis of files",
											"value": {
												"value": "@variables('appe')",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"container_name_from_user": {
				"type": "String"
			},
			"direcoey_name_from_user": {
				"type": "String"
			},
			"file_name_from_user": {
				"type": "String"
			}
		},
		"variables": {
			"appe": {
				"type": "Array"
			},
			"lis of files": {
				"type": "Array"
			},
			"count_of files": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "S2-metadata"
		},
		"annotations": []
	}
}