pipeline/Until acitivity.json
{
	"name": "Until acitivity",
	"properties": {
		"activities": [
			{
				"name": "act_until_",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(pipeline().parameters.list)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "removing_element",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "removing_element",
								"value": {
									"value": "@pipeline().parameters.list[add(variables('staring index'),1)]",
									"type": "Expression"
								}
							}
						},
						{
							"name": "filter_with_first_elemet of lsit",
							"type": "Filter",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@pipeline().parameters.list",
									"type": "Expression"
								},
								"condition": {
									"value": "@not(contains(pipeline().parameters.list,variables('removing_element') ))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "updated_list",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "filter_with_first_elemet of lsit",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "updated list",
								"value": {
									"value": "@activity('filter_with_first_elemet of lsit').output.Value",
									"type": "Expression"
								}
							}
						},
						{
							"name": "index of list",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "index",
								"value": {
									"value": "@variables('staring index')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"list": {
				"type": "array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5,
					6,
					7,
					8,
					9,
					10
				]
			}
		},
		"variables": {
			"removing_element": {
				"type": "Integer"
			},
			"array": {
				"type": "Array"
			},
			"updated list": {
				"type": "Array"
			},
			"index": {
				"type": "Integer"
			},
			"staring index": {
				"type": "Integer",
				"defaultValue": 0
			}
		},
		"folder": {
			"name": "S2-metadata"
		},
		"annotations": []
	}
}