pipeline/Until acitivity.json
{
	"name": "Until acitivity",
	"properties": {
		"activities": [
			{
				"name": "act_until_",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(variables('updated list'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "removing_element",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "removed_list",
								"value": {
									"value": "@skip(variables('updated list'),variables('updated list')[0] )",
									"type": "Expression"
								}
							}
						},
						{
							"name": "updated_list",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "removing_element",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "updated list",
								"value": {
									"value": "@variables('removed_list')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "list",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "updated list",
					"value": {
						"value": "@pipeline().parameters.list",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"list": {
				"type": "array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5,
					6,
					7,
					8,
					9,
					10
				]
			}
		},
		"variables": {
			"updated list": {
				"type": "Array"
			},
			"removed_list": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "S2-metadata"
		},
		"annotations": []
	}
}